<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" style="background-color: lightgrey;font-size: 1.2em;">Users</a>
    <a href="{% url 'allusers' %}" class="list-group-item list-group-item-action {{allusers}}"><i class="glyphicon glyphicon-user"></i> All Users</a>
    <a href="{% url 'userroles' %}" class="list-group-item list-group-item-action {{userroles}}"><i class="glyphicon glyphicon-link"></i> User Roles</a>
    <a href="{% url 'allpermissions' %}" class="list-group-item list-group-item-action {{allpermissions}}"><i class="glyphicon glyphicon-pushpin"></i> Permissions</a>
</div>


